<!--GNU GENERAL PUBLIC LICENSE
      Version 2, June 1991
{TFG-LourdesFernándezNieto}
Copyright (C) {2016}  {Lourdes Fernández Nieto}
-->

<div class="contenidoEntrada">
	<h2>Introduzca en el cuadro mostrado el filtro por el que desee realizar el análisis</h2>
	<form action="/comenzarAnalisis" method="post">
		<span>
		<!--<label> Filtrar por: </label>-->
		<input id="etiqueta" type="text" name="etiqueta" value=""  placeholder="ej. apple"/>
		<input id="baseDatosId" type="submit" name="baseDatos" value="Iniciar búsqueda" onclick=""/>
		</span>
	</form>
	<div id="imagen"> 
	<img src="/images/twitterAnalytics.png" width="585" height="250"  alt=""/></div>
	</div>