<!--GNU GENERAL PUBLIC LICENSE
      Version 2, June 1991
{TFG-LourdesFernándezNieto}
Copyright (C) {2016}  {Lourdes Fernández Nieto}
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="utf-8" http-equiv="encoding">
    <title> TFG-Caso de Estudio</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--Fuente-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!--Estilo-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">  
    <link href="/home/lourdes/Downloads/TFG/Palmera/nvd3/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="/home/lourdes/Downloads/TFG/Palmera/nvd3/nv.d3.min.js" charset="utf-8"></script>
    <script src="/home/lourdes/Downloads/TFG/Palmera/nvd3/nv.d3.js"></script>
    <script src="/home/lourdes/Downloads/TFG/Palmera/nvd3/d3.js"></script>

</head>   
<body>
    <header>
            <nav>
                <h1>Análisis de Twitter en tiempo real</h1>
                <ul>
                    <li> <a href="/"> Inicio </a> </li>
                    <li> <a href="/idiomas/index"> Idiomas </a> </li>
                    <li> <a href="/localizacion/index"> Localización Mundial </a> </li>
                    <li> <a href="/favoritos/index"> Número Favoritos </a>
                    <li> <a href="/seguidores/index"> Número Seguidores </a> </li>
                    <li> <a href="/hashtags/index"> Hashtags asociados</a> </li>
                </ul>
            </nav>
            

    </header>
    <div class="contenido">
              <span>
                <section>
                  <%- body %>
                </section>
              </span>
    </div>
</body>
</html>