<!--GNU GENERAL PUBLIC LICENSE
      Version 2, June 1991
{TFG-LourdesFernándezNieto}
Copyright (C) {2016}  {Lourdes Fernández Nieto}
-->
<h2>Lugares del mundo desde los que se tuitea </h2>

<%- include graficaLocalicacion.ejs %>
