<!--GNU GENERAL PUBLIC LICENSE
      Version 2, June 1991
{TFG-LourdesFernándezNieto}
Copyright (C) {2016}  {Lourdes Fernández Nieto}
-->
<span>
	<h3>En estos momentos estamos recogiendo datos acerca de la información solicitada. Cuando usted desee puede pulsar sobre Finalizar para analizar los datos</h3>
	<form action="/finAnalisis" method="post">
		<input id="analizar" type="submit" name="analizar" value="Finalizar" onclick=""/>
	</form>
	<div id="gif"> 
		<img src="/images/cargando.GIF" width="100" height="100"  alt="IconoCargando"/></div>
	</div>
</span>
