<!--GNU GENERAL PUBLIC LICENSE
      Version 2, June 1991
{TFG-LourdesFernándezNieto}
Copyright (C) {2016}  {Lourdes Fernández Nieto}
-->
<h2>Influencia Retweets</h2>

<ul>
<%- include graficaRetweets.ejs %>

</ul>